    <button type="button" class="close" ng-click="cancel();">
        <i class="fa fa-times-circle-o" style="margin:10px;color:blue;"></i>
    </button>
    <div class="modal-header">
        <h3 class="modal-title">Edit user [ID: {{user.id}}]</h3>
    </div>
    <div class="modal-body">
        <form name="user_form" class="form-horizontal" role="form" novalidate>
            <form-element label="NAME" mod="user">
                <input type="text" class="form-control" name="name" placeholder="NAME" ng-model="user.name" ng-disabled="user.id" focus/>
            </form-element>
            <form-element label="DESCRIPTION" mod="user">
            <textarea class="form-control" name="description" placeholder="DESCRIPTION" ng-model="user.description">{{user.description}}</textarea>
            </form-element>
            <form-element label="PRICE" mod="user">
                <input type="text" name="price" class="form-control" placeholder="PRICE" ng-model="user.price"  only-numbers/>
                <small class="errorMessage" ng-show="user_form.price.$dirty && user_form.price.$invalid"> Enter the price.</small>
            </form-element>

           <form-element label="STOCK" mod="user">
                <input type="text" name="stock" class="form-control" placeholder="STOCK" ng-model="user.stock" only-numbers/>
                <small class="errorMessage" ng-show="user_form.stock.$dirty && user_form.stock.$invalid"> Enter the available stock.</small>
            </form-element>

            <form-element label="PACKING" mod="user">
                <input type="text" name="packing" class="form-control" placeholder="PACKING" ng-model="user.packing"/>
                <small class="errorMessage" ng-show="user_form.packing.$dirty && user_form.packing.$invalid"> Enter the Packing.</small>
            </form-element>

            <div class="space"></div>
            <div class="space-4"></div>
            <div class="modal-footer">
                <form-element label="">
                    <div class="text-right">
                        <a class="btn btn-sm" ng-click="cancel()"><i class="ace-icon fa fa-reply"></i>Cancel</a>
                        <button ng-click="saveUser(user);"
                                ng-disabled="user_form.$invalid || enableUpdate"
                                class="btn btn-sm btn-primary"
                                type="submit">
                            <i class="ace-icon fa fa-check"></i>{{buttonText}}
                        </button>
                    </div>
                </form-element>
            </div>
        </form>
    </div>

